* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    font-family: sans-serif;
    padding: 16px;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 8px 0px 32px;
    gap: 16px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 2px;
}

header p {
    font-size: 10px;
    font-weight: 300;
    color: grey;
}

.period {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    align-items: center;
    gap: 8px;
}

.period div {
    display: flex;
    align-items: center;
    gap: 4px;
}

.period span{
    color: grey;
    font-size: 10px;
    font-weight: 300;
}

.period i {
    font-size: 20px;
    color: black;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.card {
    padding: 24px 16px 36px;
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    gap: 16px;

    flex-basis: calc((100% - 32px) / 3);
    flex-shrink: 0;
    min-width: 250px;
}

.secondary-card {
    box-shadow: 2px 2px 10px 1px rgb(0 0 0 / 10%);
    /* offsetX offsetY blurradius e spreadradius (vedi mdn) */
}

.primary-card {
    background-color: #6E00F9;
    color: white;
}

.title {
    align-self: flex-start;
}

.card h2 {
    font-size: 24px;
    font-weight: bold;
}

.secondary-card p {
    color: grey;
    font-size: 12px;
    font-weight: 300;
    display: inline;
}

.currency {
    font-size: 16px;
}

.price {
    font-size: 32px;
}

.fee {
    font-size: 12px;
    font-weight: 300;
}

.tag {
    background-color: lightgray;
    padding: 2px 4px;
    border-radius: 4px;
}

button {
    appearance: none;
    width: 100%;
    padding: 16px;
    border-radius: 12px;
    border: none;
    font-size: 14px;
    font-weight: 800;
}

.secondary-button {
    background-color: #6E00F9;
    color: white;
}

.primary-button {
    background-color: white;
    color: #6E00F9;
}

.items {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;

    align-items: center;
    width: 100%;
}

.items i {
    font-size: 30px;
}

.items span {
    font-size: 16px;
    font-weight: 300;
}

.items div {
    display: flex;
    gap: 4px;
    min-width: 200px;
    align-items: center;

    min-width: 250px;
}

.black {
    color: black;
}

.primary-card p {
    color: white;
    font-size: 12px;
    font-weight: 300;
    display: inline;
}